<?xml version="1.0"?>
<configuration>
  <!--<appSettings>
    <add key="AuthKey" value="BASIC" />
    <add key="AuthToken" value="TODO" />
    <add key="TestServiceUrl" value="http://127.0.0.1:8080/" />
  </appSettings>
  --><!---->
  
	<appSettings>
		<add key="AuthKey" value="73c8985f750f24ec4755c9982c36bf9c"/>
		<add key="AuthToken" value="c415040a8e5a11fbada9e77210242f043c09fc40424725547c54bc8e68240789"/>
		<!--<add key="AuthToken" value="311303292e5e10fe375fc3079127537bddd6710254e61cc85d73c2d29d4cf9af"/>-->
		<add key="TestServiceUrl" value="https://api.trello.com/1"/>
		<add key="UseTestServiceHost" value="false"/>
	</appSettings>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false"/>
  </system.net>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\..\NetworkTraceLogTests.txt"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>
